.bg-img {
  background-image: url(https://www.telegraph.co.uk/content/dam/science/2021/03/31/TELEMMGLPICT000254556730_trans_NvBQzQNjv4BqM37qcIWR9CtrqmiMdQVx7BCEN0plg5HXAKNmFjT8Pw0.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
